<% include ../views/partials/header %>

    <ul>
        <% todos.forEach(function(todos){%>
            <li>
                <%= todos.text %> -
                    <%= todos.body %>
            </li>
            <%})%>

    </ul>




    <% include ../views/partials/footer %>