<% include ../views/partials/header %>
    <form method='post' action="/todo/add"></form>
    <ul>
        <% todos.forEach(function(todo){%>
            <li>
                <%= todo.text %> -
                    <%= todo.body %>
            </li>
            <% }) %>

    </ul>




    <% include ../views/partials/footer %>